<div id="menu-list" class="animate__animated animate__slideInDown" hidden>
  <%# CLOSIN BUTTON %>
  <div class="close-bttn-dropdown" data-action="click->dropdown#hideMenu">X</div>

  <%# DROPDOWN MENU LIST %>
  <%= link_to "Startseite", root_path, class: 'link-menu-dropdown', id: id_link_dropdown(root_path) %>
  <%= link_to "Work", work_path, class: 'link-menu-dropdown', id: id_link_dropdown(work_path) %>
  <%= link_to "Steckbrief", steckbrief_path, class: 'link-menu-dropdown', id: id_link_dropdown(steckbrief_path) %>
  <%= link_to "Kontakt", kontakt_path, class: 'link-menu-dropdown', id: id_link_dropdown(kontakt_path) %>

  <%# SUN BOTTOM ANIMATION %>
  <%= image_tag("sun_icon.png", class: 'sun-dropdown animate__animated animate__slideInUp') %>
</div>
