  <div class="jobs-filter" data-controller="filter border">
    <section class="job-button-filter">
      <button id="btn-all" class="btn-border-off" data-action="click->filter#showAll click->border#all" data-border-target="button">Alles</button>
      <button id="btn-actor" class="btn-border-off" data-action="click->filter#showActor click->border#actor" data-border-target="button">Schauspieler</button>
      <button id="btn-director" class="btn-border-off" data-action="click->filter#showDirector click->border#director" data-border-target="button">Regissuer</button>
      <button id="btn-texter" class="btn-border-off" data-action="click->filter#showTexter click->border#texter" data-border-target="button">Texter</button>
    </section>

    <div class="kommende-card">
      <%# Rendering the list of gigs with their filtering buttons %>
      <% @gig.where(premiered: true).order(start_date: :desc).each do |g| %>
        <% if g.actor %>
          <section class="listing-jobs actor-list" data-filter-target="actorRow">
            <div class="stuck-col-jobs"><%= g.piece %></div>
            <div class="role-col-jobs jobs-same-class"><%= g.role %></div>
            <div class="spielort-col-jobs jobs-same-class"><%= g.location %></div>
            <div class="datum-col-jobs"><%= g.start_date.strftime("%Y") %></div>
            <%= embedded_svg(sticker_srt(g), class: 'sticker') %>
          </section>
        <% elsif g.director %>
          <section class="listing-jobs director-list" data-filter-target="directorRow">
            <div class="stuck-col-jobs"><%= g.piece %></div>
            <div class="spielort-col-jobs jobs-same-class"><%= g.location %></div>
            <div class="datum-col-jobs"><%= g.start_date.strftime("%Y") %></div>
            <%= embedded_svg(sticker_srt(g), class: 'sticker') %>
          </section>
        <% elsif g.texter %>
          <section class="listing-jobs texter-list" data-filter-target="texterRow">
            <div class="stuck-col-jobs"><%= g.piece %></div>
            <div class="datum-col-jobs"><%= g.start_date.strftime("%Y") %></div>
            <%= embedded_svg(sticker_srt(g), class: 'sticker') %>
          </section>
        <% end %>
      <% end %>
    </div>
