<% @gig.where(premiered: true).order(start_date: :desc).each do |g| %>
  <% if g.actor %>
    <div id="actor-row">
      <%= link_to show_path(g.id), data: { turbo_frame: "modal" }, class: 'listing-jobs modal-1' do %>
        <div class="stuck-col-jobs"><%= g.piece %> <span><%= cl_image_tag(cl_img(g)) %></span></div>
        <div class="role-col-jobs jobs-same-class"><%= g.role %></div>
        <div class="spielort-col-jobs jobs-same-class"><%= g.location %></div>
        <div class="datum-col-jobs"><%= g.start_date.strftime("%Y") %></div>
      <% end %>
    </div>
  <% elsif g.director %>
    <div id="director-row">
      <section class="listing-jobs">
        <div class="stuck-col-jobs"><%= g.piece %> <span><%= cl_image_tag(cl_img(g)) %></span></div>
        <%# Role's empty DIV to fill up section on desktop view %>
        <div class="jobs-same-class no-show-mobile"></div>
        <div class="spielort-col-jobs jobs-same-class"><%= g.location %></div>
        <div class="datum-col-jobs"><%= g.start_date.strftime("%Y") %></div>
      </section>
    </div>
  <% elsif g.texter %>
    <div id="texter-row">
      <section class="listing-jobs">
        <div class="stuck-col-jobs"><%= g.piece %> <span><%= cl_image_tag(cl_img(g)) %></span></div>
        <%# Role's empty DIV to fill up section on desktop view %>
        <div class="jobs-same-class no-show-mobile"></div>
        <%# Location's empty DIV to fill up section on desktop view %>
        <div class="spielort-col-jobs jobs-same-class"><%= g.location || "" %></div>
        <div class="datum-col-jobs"><%= g.start_date.strftime("%Y") %></div>
      </section>
    </div>
  <% end %>
<% end %>
