<%# I18n TRANSLATES THE DATE TO GERMAN %>
<% I18n.with_locale(:de) do %>
  <div class="kommende-card" data-controller="vanilla-marquee">
    <%= render 'shared/work-vertical-button'%>
    <% @gig.where(premiered: false).each do |g| %>
      <section class="gigs-row">
        <div class="datum-col"><%= l(g.start_date, format: '%d. %b. %Y') || "" %></div>
        <div class="spielort-col"><%= g.location || "" %></div>
        <div class="stuck-col piece-title"><%= g.piece %></div>
        <%= cl_image_tag(cl_img(g), class: "sticker") %>
      </section>
    <% end %>
  </div>
<% end %>
