<div class="kommende-card">
  <div class="title-row">
    <p class="col-title stuck-col">Stück</p>
    <p class="col-title role-col">Role</p>
    <p class="col-title spielort-col">Spielort</p>
    <p class="col-title datum-col">Premiere</p>
  </div>

  <% @gig.each do |g| %>
    <% if !g.premiered %>
      <ul class="gigs-row">
        <%# If statement filtering stickers for perfomer's field %>
        <% if g.actor %>
          <li class="stuck-col piece-title schauspieler-sticker"><%= g.piece %></li>
        <% elsif g.director %>
          <li class="stuck-col piece-title director-sticker"><%= g.piece %></li>
        <% else g.texter %>
          <li class="stuck-col piece-title texter-sticker"><%= g.piece %></li>
        <% end %>
        <li class="gig-col role-col"><%= g.role %></li>
        <li class="gig-col spielort-col"><%= g.location %></li>
        <% if g.start_date %>
          <li class="gig-col datum-col"><%= g.start_date.strftime("%b. %d, %Y") %></li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</div>
