<nav class="nav-bar" data-controller="scroll" data-scroll-target="navbar">
  <%= link_to root_path, id: 'logo' do %>
    <div class="logo-letters">Rolf Sommer &nbsp</div>
    <%= image_tag('svg/sun_icon.svg', id: "sun-logo") %>
  <% end %>

  <div class="main-menu" data-controller="magnetic-elements">
    <%= link_to work_path, class: current_class?(work_path) do %>
      <button magnetic-element data-action="mouseover->magnetic-elements#magnet">Work</button>
    <% end %>
    <%= link_to steckbrief_path, class: current_class?(steckbrief_path) do %>
      <button magnetic-element data-action="mouseover->magnetic-elements#magnet">Steckbrief</button>
    <% end %>
    <%= link_to kontakt_path, class: current_class?(kontakt_path) do %>
      <button magnetic-element data-action="mouseover->magnetic-elements#magnet">Kontakt</button>
    <% end %>
  </div>

  <div id="dropdown-menu" data-controller="dropdown">
    <div data-action="click->dropdown#showMenu" data-dropdown-target="showMenu"><%= image_tag("svg/sun_icon.svg", class: 'sun-menu') %></div>
    <%= render 'shared/dropdown-menu' %>
  </div>
</nav>
