<nav class="nav-bar" data-controller="scroll" data-scroll-target="navbar">
  <%# WHEN ON HOME PAGE, DON'T SHOW LOGO-LETTERS %>
  <% if !current_page?(action: 'home') %>
    <%= link_to 'Rolf Sommer', root_path, class: "logo-letters" %>
  <% end %>

  <%# SUN LOGO %>
  <%= link_to root_path do %>
    <%= cl_image_tag("https://res.cloudinary.com/dm4hnoj7v/image/upload/c_scale,w_50/v1686929728/rolf_sommer/sun_icon_qzn60f.png", class: "sun-logo")%>
  <% end %>

  <div class="main-menu" data-controller="magnetic-elements">
    <%= link_to work_path, class: current_class?(work_path) do %>
      <button magnetic-element data-action="mouseover->magnetic-elements#magnet">Work</button>
    <% end %>
    <%= link_to steckbrief_path, class: current_class?(steckbrief_path) do %>
      <button magnetic-element data-action="mouseover->magnetic-elements#magnet">Steckbrief</button>
    <% end %>
    <%= link_to kontakt_path, class: current_class?(kontakt_path) do %>
      <button magnetic-element data-action="mouseover->magnetic-elements#magnet">Kontakt</button>
    <% end %>
  </div>
</nav>
