<nav id="nav-bar" data-controller="scroll" data-scroll-target="navbar">
  <%= link_to root_path, id: 'logo' do %>
    <div class="logo-letters <%=white_color_font(root_path)%>">Rolf Sommer &nbsp</div>
    <%= image_tag('png/sun_icon.png', id: "sun-logo") %>
  <% end %>

  <div class="main-menu" data-controller="magnetic-elements">
    <%= link_to work_path, class: current_class?(work_path) do %>
      <button class="<%=white_color_font(root_path)%>" magnetic-element data-action="mouseover->magnetic-elements#magnet">Produktionen</button>
    <% end %>
    <%= link_to steckbrief_path, class: current_class?(steckbrief_path) do %>
      <button class="<%=white_color_font(root_path)%>" magnetic-element data-action="mouseover->magnetic-elements#magnet">Steckbrief</button>
    <% end %>
    <%= link_to kontakt_path, class: current_class?(kontakt_path) do %>
      <button class="<%=white_color_font(root_path)%>" magnetic-element data-action="mouseover->magnetic-elements#magnet">Kontakt</button>
    <% end %>
  </div>

  <div id="dropdown-menu" data-controller="dropdown">
    <div data-action="click->dropdown#showMenu" data-dropdown-target="showMenu">
      <%= image_tag('png/sun-menu-stripes.png', id: 'sun-menu') %>
    </div>
      <div id="menu-list" class="animate__animated animate__slideInDown" hidden>
      <%# DROPDOWN MENU LIST %>
      <%= link_to "Startseite", root_path, class: 'link-menu-dropdown', id: id_link_dropdown(root_path) %>
      <%= link_to "Produktionen", work_path, class: 'link-menu-dropdown', id: id_link_dropdown(work_path) %>
      <%= link_to "Steckbrief", steckbrief_path, class: 'link-menu-dropdown', id: id_link_dropdown(steckbrief_path) %>
      <%= link_to "Kontakt", kontakt_path, class: 'link-menu-dropdown', id: id_link_dropdown(kontakt_path) %>
      <%# CLOSIN BUTTON %>
      <button class="close-bttn-dropdown" data-action="click->dropdown#hideMenu">X</button>
    </div>
  </div>
</nav>
