<div class="box">
  <section class="kontakt-container">
    <div id="kontakt-description">
      <p>Seit bald zwanzig Jahren bewege ich mich unentwegt als Schauspieler und Regisseur durch die Schweizer Theater- und Musicallandschaft – mit einigen Abstechern auch nach Deutschland. Ausserdem schreibe und übersetze ich Theater- und Liedtexte. Ich lebe in Zürich, bin aber viel unterwegs, vor allem auch im Kanton Uri, wo ich aufgewachsen bin.

      <br><br>Ich freue mich darauf, Sie kennenzulernen!</p>
    </div>
    <div class="kontakt-divider">
      <div id="kontakt-foto-container">
        <%= cl_image_tag("rolf_sommer/kontakt-page_bvrrzx", id: 'kontack-foto', class: 'kontakt-pic-box') %>
      </div>
      <div id="kontakt-link-box">
        <%= mail_to 'info@rolfsommer.net', id:'link-box-top', class: 'link-1 main-link-top'%>
        <%= link_to 'Facebook', 'https://www.facebook.com/rolf.sommer.94', class: 'link-1', target: '_blank'%>
        <%= link_to 'Instagram', 'https://www.instagram.com/rolf_sommer_/', class: 'link-1', target: '_blank'%>
        <%= link_to 'Web Design :: David Mendoza', 'http://davidmendoza.ch/', class: 'link-1', target: '_blank'%>
        <%= link_to 'Fotograf :: Jon Trachsel', 'https://jontrachsel.ch/', class: 'link-1', target: '_blank'%>
      </div>
    </div>
  </section>
</div>
