<div id="kontakt-container" class="box">
  <div id="kontakt-foto-container">
    <%= image_tag('photos/finale_kari-8.jpg', id: 'kontakt-foto-container') %>
  </div>
  <div id="link-kontakt-container">
    <%= link_to "info@rolfsommer.net", subject: "Kontaktieren von Website", id: "kontakt-me-bttn" do %>
      <%= image_tag('icon-m.png', class: 'icon-kontakt') %>Kontaktiere mich!
    <% end %>
    <div id="icons-kontakt">
      <%= link_to "https://www.facebook.com/rolf.sommer.94", target: '_blank' do %>
        <%= image_tag("icon-f.png", class: 'icon-kontakt') %>
      <% end %>
      <%= link_to "https://www.instagram.com/rolf_sommer_/", target: '_blank' do %>
        <%= image_tag("icon-i.png", class: 'icon-kontakt') %>
      <% end %>
    </div>
  </div>
  <div id="link-box-bottom">
    <%= link_to 'Web Design :: David Mendoza', 'http://davidmendoza.ch/', class: 'link-1', target: '_blank'%>
    <%= link_to 'Fotograf :: Jon Trachsel', 'https://jontrachsel.ch/', class: 'link-1', target: '_blank'%>
  </div>
</div>
