<!DOCTYPE html>
<html>
  <head>
    <title>Rolf Sommer | Schauspieler, Regisseur</title>
    <%# Website descriprion %>
    <meta name="description" content="Seit bald zwanzig Jahren bewege ich mich unentwegt als Schauspieler und Regisseur durch die Schweizer Theater- und Musicallandschaft – mit einigen Abstechern auch nach Deutschland">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%# Favicon %>
    <%= favicon_link_tag asset_path('favicon-32x32.png') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
  </head>

  <body>
    <%= render 'shared/background' %>
    <%= render 'shared/navbar' unless @skip_navbar %>
    <%= yield %>
    <%= turbo_frame_tag "modal" %>
  </body>
</html>
